{
  "plugins": [["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }]],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": 4
        },
        "useBuiltIns": false
      }
    ]
  ]
}
